//COLORS
$color-primary : #55e57a;
$color-primary-light :rgba(8, 117, 32, 0.8) ;
$color-primary-dark : rgba(19, 136, 68, 0.815);
$color-black: #383737;
$color-gray-dark : #777;

$color-secondary-light: #fa9247;
$color-secondary-dark: #f9621c;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;
 
$color-grey-light-1: #f7f7f7;

$color-white :#eee; 

//FONT
$default-font-size:1.6rem;

//GRID
$grid-width:114rem;
$gutter-vertical:8rem;
$gutter-horizontal:6rem;

//box-shadow
$shadow: 0 1.5rem 4rem rgba($color-black, .15);